@import "./fonts.scss";
.App {
  text-align: center;
  &-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
}
.App {
  background: #000;
  .particles {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .profile {
    width: 100%;
    max-width: 100%;
    // @include breakpoint(medium down) {
    //   max-width: 100%;
    // }
    // border: 2px solid red;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 1;
    pointer-events: none;
    &__text {
      color: white;
      text-align: center;
      // margin-bottom: 30%;
      //   border: 2px solid aqua;
    }
    figure {
      padding-top: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .social {
    &__container {
           width: 100%; 
    // max-width: 100%;
      //   border: 2px solid aqua;
      // @include breakpoint(medium down) {
      //   max-width: 100%;
      // }
      display: flex;
      justify-content: space-evenly;
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 100%;
      pointer-events: all;
      transform: translate(-50%, -50%);
      //   border: 2px solid red;
      a {
        color: #fff;
        display: block;
        position: relative;
        height: 4em;
        width: 4em;
        line-height: 4em;
        cursor: pointer;
        text-align: center;
        svg {
          font-size: 1.5rem;
        }
        &.twitter svg {
          color: #00aced;
          border-color: #00aced;
          &:hover {
            color: white;
          }
        }
        &.facebook svg {
          color: #3b5998;
          border-color: #3b5998;
          &:hover {
            color: white;
          }
        }
        &.googleplus svg {
          color: #dd4b39;
          border-color: #dd4b39;
          &:hover {
            color: white;
          }
        }
        &.github svg {
          color: white;
          border-color: white;
          &:hover {
            color: white;
          }
        }
        &.medium svg {
          color: white;
          border-color: white;
          &:hover {
            color: white;
          }
        }
        &.instagram svg {
          color: #d047d1;
          border-color: #d047d1;
          &:hover {
            color: white;
          }
        }
        &.linkedin svg {
          color: #007fb1;
          border-color: #007fb1;
          &:hover {
            color: white;
          }
        }
        &.envelope svg {
          color: #fb9537;
          border-color: #fb9537;
          &:hover {
            color: white;
          }
        }
        &.codepen svg {
          color: white;
          border-color: white;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  .landingPage {
    margin: 0 auto;
    min-height: 100vh;
    // border: 2px solid red;
    position: relative;
  }
}

.light {
  font-family: L;
  font-size: 2.5rem;
  letter-spacing: 2px;
}
.bold {
  font-family: B;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.color-twitter {
  background-color: #00aced !important;
}

.color-facebook {
  background-color: #3b5998 !important;
}

.color-github {
  background: linear-gradient(#000, #373636) !important;
}

.color-googleplus {
  background-color: #dd4b39 !important;
}

.color-codepen {
  background: linear-gradient(#000, #8e8e8e) !important;
}

.color-medium {
  background: linear-gradient(#000, #192f2c) !important;
}

.color-instagram {
  background: linear-gradient(#400080, transparent),
    linear-gradient(200deg, #d047d1, #ff0000, #ffff00) !important;
}

.color-linkedin {
  background-color: #007fb1 !important;
}

.color-envelope {
  background-color: #fb9537 !important;
}

.color-twitter,
.color-facebook,
.color-github,
.color-googleplus,
.color-medium,
.color-instagram {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
